h2{
    text-align: center;
    text-transform: capitalize;
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    text-align: center;
    text-transform: capitalize;
    color: rgb(56, 235, 109);
    font-family: Arial, Helvetica, sans-serif;
}
.div{
    text-align: center;
    padding: 4px;
    background-image: url(nature.jpg);
    opacity: 0.7;
}
input:hover{
    border: 1px solid rgb(242, 53, 53);
}
label,input{
    padding: 4px;
    border-radius: 7px;
}